<div class="container">
  <div class="header">Patient Id: &nbsp;{{patientId}}&nbsp; - &nbsp;Device Id: &nbsp;{{deviceId}}</div>
  <div class="parent">
    <mat-grid-list cols="4" [rowHeight]="rowHeight">
      <mat-grid-tile colspan="3" rowspan="5" [style.background]="tiles[0].color">
        <div style="color: green" class="measurement">
          <app-chart  [threadMsg]="ecgData" [type]="'ECG'" [trigger]="trigger"
                      [threadIndex]="threadIndex"
          ></app-chart>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="3" [style.background]="tiles[1].color">
        <div style="color: green" class="measurement">
          <div class="measurement-unit" [class]="'unit-'+ numberOfDevicesOnScreen">bpm</div>
          <div class="measurement-value" [class]="'value-'+ numberOfDevicesOnScreen">{{heratRate}}</div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="3" [style.background]="tiles[2].color">
        <div style="color: white" class="measurement">
          <div class="measurement-unit" [class]="'unit-'+ numberOfDevicesOnScreen">mmHG</div>
          <div class="measurement-value" [class]="'value-'+ numberOfDevicesOnScreen">{{nibp}}</div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" rowspan="5" [style.background]="tiles[3].color">
        <div style="color: red" class="measurement">
          <app-chart [threadMsg]="pulseData" [type]="'SPO2'" [trigger]="trigger"
                     [threadIndex]="threadIndex"
          ></app-chart>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="3" [style.background]="tiles[4].color">
        <div style="color: red" class="measurement">
          <div class="measurement-unit" [class]="'unit-'+ numberOfDevicesOnScreen">Spo2</div>
          <div class="measurement-value" [class]="'value-'+ numberOfDevicesOnScreen">{{spo2}}</div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="3" [style.background]="tiles[5].color">
        <div style="color: white" class="measurement">
          <div class="measurement-unit" [class]="'unit-'+ numberOfDevicesOnScreen">C</div>
          <div class="measurement-value" [class]="'value-'+ numberOfDevicesOnScreen">{{temp|number: '2.0-1'}}</div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" rowspan="5" [style.background]="tiles[6].color">
        <div style="color: yellow" class="measurement">
          <app-chart [threadMsg]="respiratoryData" [type]="'RESP'" [trigger]="trigger"
                     [threadIndex]="threadIndex"
          ></app-chart>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="3" [style.background]="tiles[7].color">
        <div style="color: yellow" class="measurement">
          <div class="measurement-unit" [class]="'unit-'+ numberOfDevicesOnScreen">RESP</div>
          <div class="measurement-value" [class]="'value-'+ numberOfDevicesOnScreen">{{resp}}</div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="offline-icon" *ngIf="isOffline" >NO SIGNAL</div>
</div>
