<mat-toolbar style="height: 40px">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>MQTT</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>grid_on</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="setNumberOfDevicesOnScreen(16)">16</button>
    <button mat-menu-item (click)="setNumberOfDevicesOnScreen(8)">8</button>
    <button mat-menu-item (click)="setNumberOfDevicesOnScreen(4)">4</button>
  </mat-menu>
</mat-toolbar>
