<mat-toolbar style="height: 40px">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>MQTT</span>
<!--  <span class="example-spacer"></span>-->
  <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>grid_on</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="setNumberOfDevicesOnScreen(16)">16</button>
    <button mat-menu-item (click)="setNumberOfDevicesOnScreen(8)">8</button>
    <button mat-menu-item (click)="setNumberOfDevicesOnScreen(4)">4</button>
  </mat-menu>
</mat-toolbar>

<!--
<mat-nav-list class="p-0 mailbox-sidenav-list" perfectScrollbar>
  <div *ngFor="let mail of mails | MailSearch : searchText" (click)="viewDetail(mail)">
    <mat-list-item [ngClass]="{'unread': mail.unread, 'selected': mail.selected}">
      <img *ngIf="mail.senderPhoto" matListAvatar  [src]="mail.senderPhoto">
      <img *ngIf="!mail.senderPhoto" matListAvatar src="assets/img/users/default-user.jpg">
      <div matLine fxLayout="row" fxLayoutAlign="space-between space-between">
        <h4 class="text-truncate sender">{{mail.sender}}</h4>
        <small>{{mail.date}}</small>
      </div>
      <p matLine class="text-truncate subject">{{mail.subject}}</p>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
</mat-nav-list>-->
